extends layout

block append vars
	- bodyclass = 'post'

block prepend title
	| #{ page.title + " - "}

block content
	article(class=bodyclass)
		header(class=bodyclass + '-header hdr')
			h1(class=bodyclass + '-header-title ttl')
				a(class=bodyclass + '-header-title-link lnk', href=page.url)= page.title

			//- img(src='/img/' + page.metadata.record + '-i.png')

			span(class=bodyclass + '-meta ' + bodyclass + '-header-meta-track')
				= moment.utc(page.date).format('mm')

			span(class=bodyclass + '-meta ' + bodyclass + '-header-meta-release')
				= page.metadata.record	


		section(class=bodyclass + '-main')!= typogr(page.html).typogrify()

block prepend navtop
	ul.nav-list.lst
		if nextPage
			li.nav-list-item.itm 
				a.nav-list-item-lnk.lnk(href=nextPage.url) Next Story »

		li.nav-list-item.itm 
			a.nav-list-item-lnk.lnk(href=contents.index.url) « Back to Table of Contents