extends layout

block append vars
	- bodyclass = 'post'

block prepend title
	| #{ page.title + " - "}


block content
	article(class=bodyclass + ' ' + bodyclass + '-lst')
		header(class=bodyclass + '-hdr hdr')
			h1(class=bodyclass + '-hdr-ttl ttl')
				a(class=bodyclass + '-hdr-ttl-lnk lnk', href=page.url)= page.title
				span(class=bodyclass + '-hdr-meta ' + bodyclass + '-hdr-meta-track')
					= moment.utc(page.date).format('mm')
				span(class=bodyclass + '-hdr-meta ' + bodyclass + '-hdr-meta-release')
					= env.helpers.getTagsFromArticle(page)	

		section(class=bodyclass + '-main')!= typogr(page.html).typogrify()

block prepend footer
	//- nav(class='nav-lst')
	//- 	if prevPage
	//- 		a(href=prevPage.url) « Back
	//- 	else
	//- 		a(href='/archive.html') « Archives
	//- 	if nextPage
	//- 		a(href=nextPage.url) Next »

	//- 	a(href=contents.index.url) « Full blog