extends layout

block append vars
	- bodyclass = 'post-index'
	- postclass = 'chapter'

block content
	each article, i in articles
		article(class=postclass + ' ' + postclass + '-lst ' + postclass + '-' + i)
			header(class=postclass + '-hdr hdr')
				h1(class=postclass + '-hdr-ttl ttl')
					a(class=postclass + '-hdr-ttl-lnk lnk', href=article.url)= article.title
				span(class=postclass + '-hdr-meta ' + postclass + '-hdr-meta-track')
					= moment.utc(article.date).format('mm')
				span(class=postclass + '-hdr-meta ' + postclass + '-hdr-meta-release')
					= article.metadata.record

			section(class=postclass + '-main')
				| !{ typogr(article.intro).typogrify() }

block prepend navtop
	div.nav
		if prevPage
			a(href=prevPage.url) « Newer
		else
			a(href='/archive.html') « Archives
		if nextPage
			a(href=nextPage.url) Next page »
