extends layout

block append vars
	- bodyclass = 'posts-index'

block content

	env.helpers.getAllTags()
		
	each article in articles
		article(class=bodyclass + ' ' + bodyclass + '-lst')
			header(class=bodyclass + '-hdr hdr')
				h1(class=bodyclass + '-hdr-ttl ttl')
					a(class=bodyclass + '-hdr-ttl-lnk lnk',href=article.url)= article.title

				p(class=bodyclass + '-hdr-info')= moment.utc(article.date).format('MM-DD')

			section(class=bodyclass + '-main')
				| !{ typogr(article.intro).typogrify() }
