extends layout

block append vars
	- bodyclass = 'post-index'
	- postclass = 'post'

block content

	each article in articles
		article(class=postclass + ' ' + postclass + '-lst')
			header(class=postclass + '-hdr hdr')
				h1(class=postclass + '-hdr-ttl ttl')= moment.utc(article.date).format('mm')
					a(class=postclass + '-hdr-ttl-lnk lnk',href=article.url)= article.title
			section(class=postclass + '-main')
				| !{ typogr(article.intro).typogrify() }
