doctype html
block vars
	- var bodyclass = null;
html(lang='en')
	head
		block head
			meta(charset='utf-8')
			meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
			meta(name='viewport', content='width=device-width')
			title
				block title
					= locals.name

			link(rel='alternate', href=locals.url+'/feed.xml', type='application/rss+xml', title=locals.description)
			link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Raleway:800,300')
			link(rel='stylesheet', href='/css/layout.min.css')
			link(rel='stylesheet', href='/css/global.css')

	body( class='page page-' + bodyclass )
		header.header.page-header
			h1.ttl.page-header-ttl
				a.lnk.page-header-ttl-lnk( href=locals.url )= locals.name
			p.page-header-desc.description= locals.description

			nav.page-header-nav.page-header-nav-posts
				include _nav
				- var art = env.helpers.getArticles(contents)
				+menuMaker( 'posts', art )

			block footer
				aside.header-aside-info
					!=contents['about.md'].html
				
					include _nav
					+menuMaker( 'antisocial', locals.network.antisocial )
					+menuMaker( 'social', locals.network.social )
	
					p.header-aside-copy &copy; #{ new Date().getFullYear() } #{ locals.owner }
					
					p.header-aside-poweredby
						| powered by 
						a(href='https://github.com/jnordberg/wintersmith') Wintersmith

		main.page-content.main-content.content
			block content